body {
    background-image: linear-gradient(to bottom, rgb(242, 242, 50), white );
}


.title {
    font-size: 80px;
    font-weight: 800;
    color: #6e48aa;
}

/* TODO:打字效果 */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.typewriter-cursor {
    border-right: 2px solid;
    animation: blink 2s step-end infinite;
    animation-delay: 1.5s;
}

/* TODO:背景中旋转的球形 */
.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    animation: am2 ease-in-out 1s;
}

span:nth-child(1) {
    position: absolute;
    top: 117px;
    left: 143px;
    width: 120px;
    height: 120px;
    background: purple;
    animation: am1 ease-in-out 3s infinite alternate;
    border-radius: 50%;
}

span:nth-child(2) {
    position: absolute;
    top: 518px;
    left: 434px;
    width: 200px;
    height: 200px;
    background: orange;
    animation: am1 ease-in-out 4s infinite alternate-reverse;
    border-radius: 50%;
}

span:nth-child(3) {
    position: absolute;
    top: 196px;
    left: 483px;
    width: 60px;
    height: 60px;
    background: cyan;
    animation: am1 ease-in-out 2.5s 0.5s infinite alternate;
    border-radius: 50%;
}

span:nth-child(4) {
    position: absolute;
    bottom: 117px;
    right: 143px;
    width: 50px;
    height: 50px;
    background: rgb(142, 255, 82);
    animation: am1 ease-in-out 3s infinite alternate;
    border-radius: 50%;
}

span:nth-child(5) {
    position: absolute;
    bottom: 518px;
    right: 434px;
    width: 100px;
    height: 100px;
    background: rgb(154, 66, 125);
    animation: am1 ease-in-out 4s infinite alternate-reverse;
    border-radius: 50%;
}

span:nth-child(6) {
    position: absolute;
    bottom: 196px;
    right: 483px;
    width: 60px;
    height: 60px;
    background: rgb(74, 103, 103);
    animation: am1 ease-in-out 2.5s 0.5s infinite alternate;
    border-radius: 50%;
}

@keyframes am1 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-30px);
    }
}

@keyframes am2 {
    0% {
        transform: scale(0, 0) rotateZ(60deg);
    }

    100% {
        transform: scale(1, 1) rotateZ(0);
    }
}





.btn-text a {
    color: rgb(71, 71, 71);
    line-height: 30px;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.btn-text a:hover {
    color: white;
}

.btn-text2 a {
    color: white;
    line-height: 30px;
    padding: 0;
    margin: 0;
    text-decoration: none;
}



.see {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    border: 1px solid #6e48aa;
    padding: 10px;
    border-radius: 2px;
    height: 50px;
}

.see2 {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    background-color: #6e48aa;
    backdrop-filter: blur(4px);
    border: 1px solid #6e48aa;
    padding: 10px;
    border-radius: 2px;
    height: 50px;
}

.see:hover {
    background-color: #6e48aa;
    border-color: #5b5b5b;
}

.see2:hover {
    background-color: rgb(116, 66, 116);
    border-color: #5b5b5b;
}

.container-fluid {
    position: relative;
    /* 设置相对定位 */
    height: 100vh;
    /* 设置容器高度 */
}

.row {
    position: absolute;
    /* 设置绝对定位 */
    top: 50%;
    /* 向下移动50%的高度 */
    left: 50%;
    /* 向右移动50%的宽度 */
    transform: translate(-50%, -50%);
    /* 向上和向左移动自身宽高的50%进行居中 */
    width: 100%;
    /* 可选，根据需要设置 */
}