
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三月</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center">
    <div class="container">
    <div class="body">
    <h1>老师布置了一些作业课后完成，你选择……</h1>
    <br>
    <br>
    <form action="{{ url_for('rfvfzozoye') }}">
        <input type="submit" value="这题我会，老师上课讲了，我要认真做完" class="button">
    </form>
    <br>
    <br>
    <form action="{{ url_for('svbmzozo') }}">
        <input type="submit" value="啊没有认真听课，不是很会，我要随便做做" class="button">
    </form>
    <br>
    <br>
    <form action="{{ url_for('buzozoye') }}">
        <input type="submit" value="一次作业，不做应该没事吧\n不做了" class="button">
    </form>
    <br>
    <br>
    <audio controls autoplay>
      <source src="{{ url_for('static', filename='按键音.mp3') }}" type="audio/mpeg">
      Your browser does not support the audio element.
        </audio>
    </div>
    </div>
    </div>
</body>
</html>
