
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三月</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center">
    <div class="container">
    <div class="body">
    <h1>4月来了！
        月底就要期中考试了，你决定在图书馆复习<br>
        在此时你正在屏蔽一切认真复习<br>
        突然楼下传来了很大的争吵声，你选择……</h1>
    <br>
    <br>
    <form action="{{ url_for('iigx') }}">
        <input type="submit" value="太好奇了，吃会瓜吧" class="button">
    </form>
    <br>
    <br>
    <form action="{{ url_for('ffdz') }}">
        <input type="submit" value="不行！马上要考试了不能分心！奋斗！" class="button">
    </form>
    <br>
    <br>
    <audio controls autoplay>
      <source src="{{ url_for('static', filename='按键音.mp3') }}" type="audio/mpeg">
      Your browser does not support the audio element.
        </audio>
    </div>
    </div>
    </div>
</body>
</html>
