<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三月</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
    <div class="center">
    <div class="container">
    <div class="body">
    <h1>老师记住了你，并和你说欢迎下课来
        讨论，你选择……</h1>
    <br>
    <br>
    <form action="{{ url_for('xxkequtcly') }}">
        <input type="submit" value="下课去找老师认真讨论" class="button">
    <br>
    </form>
    <br>
    <form action="{{ url_for('hvquuvjn') }}">
        <input type="submit" value="太困了，下课速速溜回去睡觉" class="button">
    <br>
    <br>
    <audio controls autoplay>
      <source src="{{ url_for('static', filename='按键音.mp3') }}" type="audio/mpeg">
      Your browser does not support the audio element.
        </audio>
    </form>
    </div>
    </div>
    </div>
    </body>
</html>