<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三月</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
    <div class="center">
    <div class="container">
    <div class="body">
    <h1>国潮奇妙夜就要举办了，那天你刚好没课！<br>
        你的好朋友帮你获得了参与表演的报名表，你选择……</h1>
    <br>
    <br>
    <form action="{{ url_for('cjjxyixx') }}">
        <input type="submit" value="难得的机会，参加一下吧" class="button">
    <br>
    </form>
    <br>
    <form action="{{ url_for('srle') }}">
        <input type="submit" value="还是算了吧" class="button">
    <br>
    <br>
    <audio controls autoplay>
      <source src="{{ url_for('static', filename='按键音.mp3') }}" type="audio/mpeg">
      Your browser does not support the audio element.
        </audio>
    </form>
    </div>
    </div>
    </div>
    </body>
</html>