<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三月</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
    <div class="center">
    <div class="container">
    <div class="body">
    <h1>surprise！老师点名了，幸好你来了！
        智力+5\n
        心得：看来还是要好好上课呀</h1>
    <br>
    <br>
    <form action="{{ url_for('siytvrih') }}">
        <input type="submit" value="确定" class="button">
    <br>
    <br>
    <audio controls autoplay>
      <source src="{{ url_for('static', filename='按键音.mp3') }}" type="audio/mpeg">
      Your browser does not support the audio element.
        </audio>
    </form>
    </div>
    </div>
    </div>
    </body>
</html>