body {
    background-image: url("../img/下载 (2).jpg");
    /* background-color: rgb(237, 250, 249); */
    background-size: cover;
    /* TODO:图片将被缩放以填充整个容器 */
    background-position: center;
    background-attachment: fixed;
    /* TODO:背景不会随页面滚动*/

    /* 图片在容器中居中 */
    /* 如果需要，你还可以添加其他的背景属性，如背景颜色、重复等 */
    margin-top: 0;
    padding-top: 0;
}

.body {
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button:hover {
    background-color: #0056b3;
}

.form-container {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

/* .form {
    display: none;

} */

form {
    width: 400px;
}

.form.active {
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.button-group input {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.button-group input:hover {
    background-color: #0056b3;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(37, 37, 36);
    font-weight: 1000;
}

.input-group input,
.input-group button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    /* 确保padding不会影响总宽度 */
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.container {
    display: flex;
    justify-content: space-between;
    /* text-align: center; */


}